<%% content_for :titulo do %>
  <%%= t('.title', :default =>  t('helpers.titles.list'), :model => t('<%= singular_table_name %>').pluralize) %>
<%% end %>

<table class="table table-sm table-hover table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">#</th>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th scope="col"><%%= t('<%= attribute.name %>') %></th>
<% end -%>
      <th scope="col" class="text-center"><%%= t('.actions', :default => t('helpers.actions')) %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
        <th scope="col" class="text-center"><%%= <%= singular_table_name %>.id %></th>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
<% if attribute.field_type.to_s == 'check_box' -%>
        <td><i class="fas fa<%%= '-check' if <%= singular_table_name %>.<%= attribute.name %> == true %>-square"></i></td>
<% else -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
<% end -%>
        <td class="acoes">
        <%%= link_to <%= singular_table_name %>,
          :title => t('helpers.links.show'),
          :class => 'btn btn-info btn-xs' do %>
          <i class="fas fa-search"></i>
        <%% end %>
        <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>),
          :title => t('helpers.links.edit'),
          :class => 'btn btn-success btn-xs' do %>
          <i class="fas fa-edit"></i>
        <%% end %>
        <a data-toggle="modal" data-target="#modalExcluir"
          data-href="<%%= <%= singular_table_name %>_path(<%= singular_table_name %>) %>"
          class="btn btn-danger btn-xs text-white"
          title="<%%= t('helpers.links.delete') %>">
          <i class="far fa-trash-alt"></i>
        </a>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>

<%%= link_to new_<%= singular_table_name %>_path,
  :class => 'btn btn-primary' do %>
  <i class="fas fa-plus"></i>
  <%%= t('helpers.links.new') %>
<%% end %>
